SENDER_EMAIL = ""
    #email address of the sender, can use personal or create a new email for this, recepient will see this email address
SENDER_PASSWORD = "" 
    #password of the sender email, if using gmail, you will need to create an app password within two factor authentication
RECIPIENT_PHONE_NUMBERS = "7783302389@msg.fi.google.com,22222@@tmomail.net"
    #phone numbers of the recipients
    #if using multiple numbers make sure to separate numbers using commas with no whitespaces!!!!, if using one number do not include a comma!
    #email address domains will be different depending on the carrier, this example is for google fi and for for tmobile
    #If you want to send SMS via email through other carriers, you'll need to find out the specific email-to-SMS gateway address for each carrier you want to support. Unfortunately, there's no universal standard for this, and you may need to refer to the documentation or contact the carrier directly to obtain the correct email-to-SMS gateway address.
    #the given example phone number plays music when called
City = "Seattle" #example city to scrape the weather from
Camera_URL = "https://www.seattle.gov/trafficcams/images/Latona_NE_50_EW.jpg" #camera url to scape
   
